/* remember to insert variables here*/
:root {}

/* find a more fun background color if you have time*/
body {
    background: #ececec;
}

/*flex for header and footer. Both should be seperate from the grid */
#header {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

/*Grid layout*/
#boxgrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "abt bx1 bx1"
        "abt bx2 bx3"
        "abt bx4 bx5";
}

/* find a way of making all images work*/
#about {
    grid-area: abt;
    background-color: aliceblue;
}

#box1 {
    grid-area: bx1;
    background-image: url(./images/surfing1.png);
}

#box2 {
    grid-area: bx2;
    background-image: url(./images/led2.jpeg)
}

#box3 {
    grid-area: bx3;
    background-image: url(./images/led2.jpeg)
}

#box4 {
    grid-area: bx4;
    background-image: url(./images/led2.jpeg)
}

#box5 {
    grid-area: bx5;
    background-image: url(./images/led2.jpeg)
}

.boxgridarea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    align-content: end;
}

.contact {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row;
    min-height: 40vh;
    margin-top: auto;
}

/* Insert typography css here */


h2 {
    font-size: 20px;
    margin: 0px 0px;
    color: #FF6200;
}

/*THIS ALL NEEDS TO BE EDITED LATER
@media only screen and (max-width: 1000px) {
    #navigation {
        display: none;
    }

    .icons {
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    #headline {
        position: static;
        margin: 20px;
    } */